/*body{*/
/*    background-color: #808080;*/
/*    text-align: center;*/
/*}*/
label, select, input{
    width: 150px;
    display: inline-block;
    margin: 5px 0;
}
h1{
    text-align: center;
}

.bgc-container{
    background-color: #d6d8d9;
}